.st0 {
  fill:#BA324D;
}

.st1 {
  fill:#AEC4BC;
}

.st2 {
  fill:#BACCC6;
}

.st3 {
  fill:#8CA59B;
}

.st4 {
  fill:#F967BC;
}

.st5 {
  fill:#F04FAC;
}

.st6 {
  fill:#494849;
}

.st7 {
  fill:#B6B4C1;
}

.st8 {
  fill:#CFCED8;
}
