:root {
  --hutgreen: #AEC4BC;
  --hutgreendark: #8CA59B;
  --hutgreenlight: #BACCC6;
  --hutred: #BA324D;
  --doorpink: #F967BC;
  --doorpinkdark: #F04FAC;
  --darkgrey: #494849;
  --lockgrey: #B6B4C1;
  --lockgreylight: #CFCED8;
}

body {
  margin: 0;
}

.st0 {
  fill: var(--hutred);
}

.st1 {
  fill: var(--hutgreen);
}

.st2 {
  fill: var(--hutgreenlight);
}

.st3 {
  fill: var(--hutgreendark);
}

.st4 {
  fill: var(--doorpink);
}

.st5 {
  fill: var(--doorpinkdark);
}

.st6 {
  fill: var(--darkgrey);
}

.st7 {
  fill: var(--lockgrey);
}

.st8 {
  fill: var(--lockgreylight);
}
